body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #495057;
    color: white;
}
.container{
    /* background-color:   black; */
    width: 220px;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.container>button{
    width: 66.5px;
    height: 67px;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 8px;
    border:none;
    font-size: 30px;
    box-shadow: 0 0 2px white;
    background-color: white;
    color: black;
}

#reset{
    margin-top: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #161a1d;
    color: white;
}

.winner{
    font-size: 40px;
    margin-bottom: 0px;
}

.new-game{
    display: none;
}

.show-new-game{
    margin-top: 30px;
    width: 100px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: none;
    background-color: #161a1d;
    color: white; 
}